<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Register</title>
        <script src="https://cdn.tailwindcss.com"></script>
    </head>

    <body class="bg-gray-100 min-h-screen flex items-center justify-center">
        <div class="bg-white shadow-xl rounded-2xl p-8 w-full max-w-md">
            <h2 class="text-2xl font-bold text-center mb-6">Create Account</h2>

            <form class="space-y-4">
                <input
                    type="text"
                    id="name"
                    placeholder="Full Name"
                    class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-indigo-400 outline-none"
                />

                <input
                    type="email"
                    id="email"
                    placeholder="Email"
                    class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-indigo-400 outline-none"
                />

                <input
                    type="password"
                    id="password"
                    placeholder="Password"
                    class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-indigo-400 outline-none"
                />

                <input
                    type="password"
                    id="password_confirmation"
                    placeholder="Confirm Password"
                    class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-indigo-400 outline-none"
                />

                <input
                    type="text"
                    id="phone"
                    placeholder="Phone"
                    class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-indigo-400 outline-none"
                />

                <select
                    id="role"
                    id="role"
                    class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-indigo-400 outline-none"
                    onchange="toggleVillagerFields()"
                >
                    <option value="">Select Role</option>
                    <option value="admin">Admin</option>
                    <option value="technician">Technician</option>
                    <option value="investor">Investor</option>
                    <option value="villager">Villager</option>
                </select>

                <div id="villagerFields" class="space-y-4 hidden">
                    <input
                        type="text"
                        id="cin"
                        placeholder="CIN"
                        class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-indigo-400 outline-none"
                    />

                    <input
                        type="text"
                        id="address"
                        placeholder="Address"
                        class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-indigo-400 outline-none"
                    />

                    <select
                        id="subscription_status"
                        class="w-full border rounded-lg p-3 focus:ring-2 focus:ring-indigo-400 outline-none"
                    >
                        <option value="">Subscription Status</option>
                        <option value="subscribed">Subscribed</option>
                        <option value="not subscribed">Not Subscribed</option>
                    </select>
                </div>
                <div id="message" class="text-center text-sm font-medium"></div>
                <button
                    type="button"
                    id="register_btn"
                    class="w-full bg-indigo-600 text-white py-3 rounded-lg font-semibold hover:bg-indigo-700 transition"
                >
                    Register
                </button>
            </form>
        </div>

        <script>
            function toggleVillagerFields() {
                const role = document.getElementById("role").value;
                const fields = document.getElementById("villagerFields");

                role === "villager"
                    ? fields.classList.remove("hidden")
                    : fields.classList.add("hidden");
            }

            const registerBtn = document
                .getElementById("register_btn")
                .addEventListener("click", CollectUserData);
            function CollectUserData() {
                let userData = {
                    name: document.getElementById("name").value.trim(),
                    email: document.getElementById("email").value.trim(),
                    password: document.getElementById("password").value.trim(),
                    role: document.getElementById("role").value.trim(),
                    phone: document.getElementById("phone").value.trim(),
                };
                if (userData.role === "villager") {
                    userData.cin = document.getElementById("cin").value.trim();
                    userData.subscription_status = document.getElementById("subscription_status",).value;
                    userData.address = document.getElementById("address").value.trim();
                }
                register(userData);
                console.log(userData);
            }

            // send data of user to register
            async function register(userData) {
                const response = await fetch(
                    "http://127.0.0.1:8000/api/register",
                    {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json",
                            Accept: "application/json",
                        },
                        body: JSON.stringify(userData),
                    },
                );

                const messageBox = document.getElementById("message");
                messageBox.classList.remove("text-red-600", "text-green-600");

                const result = await response.json();

                if (response.ok) {
                    messageBox.innerText = result.message;
                    messageBox.classList.add("text-green-600");
                } else {
                    messageBox.innerText =
                        result.message || "Registration failed";
                    messageBox.classList.add("text-red-600");
                }
            }
        </script>
    </body>
</html>
